<h1>Берёза</h1>
<img src="/static/mainapp/images/bereza.jpg" alt="" height="600">
<p>Дерево береза - это листопадное дерево, которое относится к классу березовых. Она обладает красивым белым стволом с
    черными поперечными полосами и пятнами. Этот окрас присущ березе естественной защитой от воздействия внешней среды.
    В теплое время года через темные полосы в ствол растения поступает воздух, не позволяя дереву перегреться, а в
    зимние месяцы, наоборот, плотно закрываются и защищают от переохлаждения.Взрослое дерево может достигать 45 метров в высоту и до 1,5 метров в окружности. Всего насчитывается около 100 видов
    березы, от карликовых до великанов. Листья дерева ровные с обеих сторон, треугольной формы длиной около 4
    сантиметров.Береза не только широко распространена, но и насчитывает более 120 видов, многие из которых успешно используются в
    химической промышленности, мебельном производстве.Береза активно используется и при озеленении городов: парков, скверов, аллей. На приусадебном участке также активно
    выращивают эти деревья, способные украсить любой ландшафт, добавив ему характерный колорит.Корневая система березы мощная, в зависимости от вида и условий произрастания либо поверхностная, либо, что чаще,
    уходит косо вглубь. Стержневой корень проростка отмирает очень быстро, зато боковые корни развиваются мощно и богаты
    тонкими мочковидными корешками.В восточной Сибири береза является одним из самых распространенных видов деревьев. Она обладает высокой
    декоративностью, выраженной пышной ажурной кроной, контрастной окраской коры, яркой листвой, меняющей оттенок в
    течение года.</p>
