<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>HTML5</title>
  <style>
   article, aside, details, figcaption, figure, footer,header,
   hgroup, menu, nav, section { display: block; }
   TABLE {
    width: 500px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */

   }
   TD, TH {
    padding: 10px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
   }
   TH {
    background: #b0e0e6; /* Цвет фона */
   }
  </style>
 </head>
 <body>
	<div id="content"><h1>Дуб</h1>
	<img src="./Tress_files/dub.jpg" alt="">
	<p>
	    Дуб представляет собой дерево, относящееся к семейству буковых. Это лиственная порода, которая в тропическом и субтропическом поясе является вечнозеленой. Эот дерево растет в умеренном поясе, тропиках и субтропиках Северного полушарияи  является лесообразующей породой.
	</p>

	<h2>Характеристики</h2>

	<p>
	    На территории России произрастает около двух десятков различных видов дуба. Множество видов были завезены из других частей планеты и также прижились. Наиболее распространены два вида дуба – дуб скальный и дуб черешчатый. Эти деревья образуют огромные лиственные леса в европейской части страны.
		Черешчатый дуб также называют обыкновенным или летним. Он очень хорошо переносит холодные зимы России, а также длительную засуху. Если дуб растет в благоприятных условиях, то в высоту он достигает 40 метров. Максимальная толщина ствола взрослого дуба в диаметре достигает полутора метров.
		Скальный дуб называется еще зимним. Отличается он по особой форме листа, который является вытянутым и имеет клиновидное основание. Распускается данный вид дуба позже черешчатого. А растет он чаще всего на Северном Кавказе.
		Древесина обоих вышеописанных дубов почти не отличается.
	</p></div>

	<h2>Механические и технические характеристики некоторых видов</h2>
	
	<table>
	<tbody><tr align="center">
	<th rowspan="2" colspan="1">Имя</th>
	<th rowspan="2" colspan="1">Другие названия</th>
	<th rowspan="2" colspan="1">Ботани­ческое название</th>
	<th rowspan="2" colspan="1">Распростра­нение<br>(регион, страна)</th>
	<th rowspan="1" colspan="2">Размеры дерева (м)</th>
	<th rowspan="2" colspan="1">Плот­ность (кг/м³)</th>
	<th rowspan="1" colspan="2">Модуль</th>
	<th rowspan="2" colspan="1">Проч­ность на смя­тие (Мпа)</th>
	<th rowspan="1" colspan="3">Усадка при сушке(%)</th>
	<th rowspan="2" colspan="1">Твёр­дость Янка (kH)</th>
	</tr>
	<tr align="center">
	<th>высо­та</th>
	<th>диам. ство­ла</th>
	<th>раз­рыва (МПа)</th>
	<th>упру­гости (ГПа)</th>
	<th>радиа­льная</th>
	<th>танген­циаль­ная</th>
	<th>объём­ная</th>
	</tr>
	
	</tbody><tbody>
	<tr align="center">
	<td>Дуб бархатистый</td>
	<td>Black Oak, Eastern Black Oak</td>
	<td>Quercus velutina</td>
	<td>Восток Северной Америки</td>
	<td>20–25</td>
	<td>1–1,5</td>
	<td>715</td>
	<td>99,5</td>
	<td>11,97</td>
	<td>44,5</td>
	<td>4,4</td>
	<td>11,1</td>
	<td>15,1</td>
	<td>5,38</td>
	</tr>
	<tr align="center">
	<td>Дуб крупно­плодный</td>
	<td>Bur Oak, Burr Oak, Mossycup Oak</td>
	<td>Quercus macrocarpa</td>
	<td>Восток и средний запад США и юго-центральная Канада</td>
	<td>24–30</td>
	<td>1–1,5</td>
	<td>725</td>
	<td>75,3</td>
	<td>7,17</td>
	<td>40,6</td>
	<td>4,4</td>
	<td>8,8</td>
	<td>12,7</td>
	<td>6,03</td>
	</tr>
	<tr align="center">
	<td>Дуб Келлога</td>
	<td>California Black Oak, Kellogg Oak</td>
	<td>Quercus kelloggii</td>
	<td>Запад США</td>
	<td>20–25</td>
	<td>1–1,2</td>
	<td>620</td>
	<td>59,4</td>
	<td>6,76</td>
	<td>38,9</td>
	<td>3,6</td>
	<td>6,6</td>
	<td>10,2</td>
	<td>4,84</td>
	</tr>
	<tr align="center">
	<td>Дуб болотно-каштановый</td>
	<td>Дуб Мишо, Swamp Chestnut Oak</td>
	<td>Quercus michauxii</td>
	<td>Юг и центр США</td>
	<td>18–24</td>
	<td>0,6–1</td>
	<td>780</td>
	<td>94,9</td>
	<td>12,09</td>
	<td>49,6</td>
	<td>5,2</td>
	<td>10,8</td>
	<td>16,4</td>
	<td>5,46</td>
	</tr>
	</tbody></table>
</html>