
<h1>Ель сибирская</h1>
<img src="/static/mainapp/images/el.jpg" alt="">
<p>
    Ель сибирская — крупное дерево с узкопирамидальной или пирамидальной кроной, в свободном стоянии начинающейся от основания ствола. Некоторые деревья достигают 30 м в высоту, диаметр ствола крупных деревьев достигает 70 см. Рост деревьев в высоту меняется с возрастом и напрямую зависит от освещённости.
</p>

<h2>Распространение и экология</h2>

<p>
    Дико произрастает от районов северной Европы до Магаданской области, один из главных видов-лесообразователей Сибири. В пределах России растёт на севере и востоке её Европейской части, на Урале, в Западной и Восточной Сибири, а также в ряде районов Дальнего Востока. Имеется на северо-востоке Фенноскандии (на крайнем северо-востоке Норвегии и Швеции, в северной части Финляндии, а в российской Фенноскандии — в Мурманской области, а также на севере, востоке и в центральной части республики Карелия). Кроме Норвегии, Швеции и Финляндии, за пределами России произрастает в восточном Казахстане, на севере Монголии, в Китае (Северная Маньчжурия). Наиболее северный из всех известных видов рода Ель.
</p>