<h1>Ель обыкновенная</h1>
<img src="/static/mainapp/images/elka.jpg" alt="">
<p>
    Ель обыкнове́нная, или Ель европе́йская (лат. Pícea ábies), — хвойное дерево, вид рода ель (Picea) семейства сосновые (Pinaceae), типовой вид этого рода. Единственный аборигенный вид ели в большинстве областей средней полосы России.
</p>

<h2>Распространение и экология</h2>

<p>
    Растение широко распространено на северо-востоке Европы, где образует сплошные лесные массивы. Западнее хвойные леса не являются зональным типом растительности, ель там встречается только в горах: в Альпах, Карпатах, горах Балканского полуострова. Северная граница ареала в России большей частью совпадает с границей лесов, а южная доходит до чернозёмной зоны
</p>