<h1>Ива</h1>
<img src="/static/mainapp/images/iva.jpg" alt="" height="600">
<p>И́ва (лат. Sálix) — род древесных растений семейства Ивовые (Salicaceae)[2].

    В русском языке по отношению к видам ивы используется также много других названий — ветла́, раки́та, лоза́, лози́на, ве́рба, тальник[3].
    
    Очень распространённые в средней части России растения. Большинство видов ив любят влажность и селятся в сырых местах, в сухих же местах (на склонах, песках и т. п.) и на болотах растут сравнительно немногие виды. Встречается ива и в лесах, как подмесь к другим деревьям.
    
    Внешний вид ив весьма разнообразен: среди них есть высокие деревья (Salix alba, Salix fragilis, Salix caprea) и кустарники (Salix viminalis, Salix daphnoides, Salix purpurea), иногда довольно мелкие, приземистые, стелющиеся по земле (Salix lapponica, Salix repens var. rosmarinifolia, Salix myrtilloides); в полярных же странах и на высоких горах, в нагорных областях, растут ещё более мелкие ивы-карлики, такие как (Salix herbacea, Salix reticulata), весьма мелкие кустарнички, не выше 2,5 сантиметров, и не превышающие мхов, среди которых они растут.</p>
