<h1>Лиственница</h1>
<img src="/static/mainapp/images/listvennica.jpg" alt="">
<p>
    Ли́ственница (лат. Lárix) — род древесных растений семейства Сосновые, одна из наиболее распространённых пород хвойных деревьев в мире. Самое распространённое дерево в России. Хвоя лиственницы ежегодно опадает на зиму, т.е. она не относится к вечнозелёным хвойным деревьям.
</p>

<h2>Распространение и экология</h2>

<p>
    Произрастает в умеренных и холодных (субарктических и субальпийских) областях Евразии и Северной Америки. В низовьях Енисея, на Таймыре и далее к востоку, заходит даже в южную часть арктического климатического пояса. Наиболее южные области планетарного ареала лиственницы находятся в высокогорьях субтропиков, например, в Юго-Западном Китае, Непале, Бутане, Северной Индии. Самая многочисленная и распространённая порода деревьев в России и в мире (по количеству древесных экземпляров, а также по общей площади лесов с её преобладанием): площадь лиственничных лесов составляют около 8 % от общей площади
</p>