<h1>Ель обыкновенная</h1>
<img src="/static/mainapp/images/osina.jpg"  alt="" height="600">
<p>
    Оси́на, или Оси́на обыкнове́нная, или Осина евросибирская, или То́поль дрожа́щий (лат. Pópulus trémula) — вид лиственных деревьев из рода Тополь семейства Ивовые. Осина широко распространена в районах с умеренным и холодным климатом Европы и Азии.
</p>

<h2>Распространение и экология</h2>

<p>
    Встречается на границе леса и тундры, растёт в лесной и лесостепной зонах. Её можно встретить по берегам водоёмов, в лесах, по опушкам, изредка на сухих песках и вырубках, по оврагам, болотам и в горах; поднимается до верхней границы леса.

Хорошо растёт на различных почвах, образует чистые осинники и входит в состав смешанных лесов вместе с хвойными (сосной, лиственницей, елью) и лиственными (берёзой, ольхой, дубом). В степях из них образуются колонии — осиновые колки, растущие из отдельной рассады и размножающиеся посредством побегов корневой системы; новые стебли в колонии могут появиться на расстоянии до 30—40 м от родительского дерева.
</p>