
<h1>Пихта сибирская</h1>
<img src="/static/mainapp/images/pihta-sib.jpg" alt="">
<p>
    Пихта сибирская — дерево; самый распространённый на территории России вид рода Пихта семейства Сосновые. 
    Растёт преимущественно в кедровых, еловых, смешанных, значительно реже в лиственничных лесах и редколесьях. Иногда образует чистые насаждения — пихтовники.
</p>

<h2>Распространение и экология</h2>

<p>
    Несмотря на высокую морозостойкость, пихта сибирская теплолюбива, требовательна к богатству почвы и влажностному режиму местообитаний (проточное увлажнение почвы и относительно высокая влажность воздуха), не растёт на почвах, подстилаемых вечной мерзлотой. 
    Эти требования к условиям среды обитания значительно ограничивают её естественное распространение на север, например, по сравнению с лиственницей, елью и сосной. 
    Даже на севере Европейской части России (Архангельская область, Республика Коми), где вечная мерзлота к югу от Полярного круга отсутствует (кроме некоторых районов Урала), из-за своего теплолюбия пихта в основном достигает лишь 63—64° с. ш., и только по долине реки Мезени поднимается до 65° с. ш., а в районе устья реки Уса достигает 66° с. ш., чуть менее — на Приполярном Урале.
</p>